{% extends 'blog/base.html' %}
    {% block main_area %}
    <div class="col-md-8 col-lg-9" id="main-area">
        <h1>Blog</h1>
        {% if post_list.exists %} <!--post_list에 포스트가 있다면 실행-->
        {% for p in post_list %}
            <!-- Blog post-->
            <div class="card mb-4">
                {% if p.head_image %}
            <a href="#!"><img class="card-img-top" src="{{ p.head_image.url }}" alt="{{ p }} head image" /></a> <!--image 불러오는거임-->
                {% else %} <!-- 이미지 없어도 할 수 있도록 alt 보여주고,-->
                <img class="card-img-top" src="https://picsum.photos/seed/{{ p.id }}/600/300" alt="random_image"> <!--이게 만약에 위에 안먹을때 랜덤 이미지 만들어주는거임-->
                                        <!--이게 seed로 id 즉 pk 값으로 고정하는거임 -->
                {% endif %}
                <div class="card-body">
                <h2 class="card-title h4">{{ p.title }}</h2>
                {% if p.hook_text %}
                    <h5 class="text-muted">{{ p.hook_text }}</h5> <!--text muted 하는 이유가 그냥 연하게 할려고-->
                {% endif %}
                <p class="card-text">{{ p.content | truncatewords:45 }}</p> <!-- 45개 단어만 출력하도록 truncatewords 씀.-->
                <a href="{{ p.get_absolute_url }}" class="btn btn-primary">Read more &rarr;</a>
            </div>
            <div class="{{ p.created_at }}">
                <a href="#">작성자명 쓸 위치(개발예정)</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
            <h3>아직 게시물이 없습니다. </h3>
        {% endif %}
            <!-- Pagination-->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>
</div>
{% endblock %}
    